<!-- Insert Category Form -->
<form [formGroup]="form" class="row">

  <!-- control: name -->
  <div class="mb-3">
    <label for="name" class="form-label text-secondary fw-bold">
      Κατηγορία*
    </label>
    <input
      class="form-control"
      [class.is-invalid]="name?.invalid && (name?.dirty || name?.touched)"
      id="name"
      type="text"
      required
      formControlName="name"
      (blur)="checkNameExists()"
    />
    <!-- Validation error messages -->
    @if (name?.invalid && (name?.dirty || name?.touched)) {
      @for (error of validationErrors; track error) {
        @if (name?.hasError(error.name)) {
          <div class="invalid-feedback d-block">{{ error.message }}</div>
          @if (name?.hasError('minlength')) {
            <div class="invalid-feedback d-block">Πρέπει να περιέχει τουλάχιστον 2 χαρακτήρες</div>
          }
        }
      }
    }
  </div>
</form>

<!-- Buttons -->
<div class="d-flex gap-3 mb-4">
  <button 
    class="btn btn-primary rounded-0" 
    [disabled]="this.form.invalid" 
    (click)="onSubmit()"
  >
    Αποθήκευση
  </button>
  <button 
    class="btn btn-outline-primary rounded-0"
    (click)="onCancel()"
  >
    Άκυρο
  </button>
</div>
