<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Κατηγορία</th>
      <th scope="col" class="text-center">Επεξεργασία</th>
      <th scope="col" class="text-center">Διαγραφή</th>
    </tr>
  </thead>
  <tbody>
    @for (category of categories(); track category.id) {
      <tr>
        <td>{{ category.id }}</td>
        <td>{{ category.name }}</td>
        <td class="text-center">
          <button
            class="border-0 bg-transparent text-blue"
            [class.text-gray]="!isInsertFormCollapsed || !isUpdateFormCollapsed || isConfirmationAlertVisible"
            [disabled]="!isInsertFormCollapsed || !isUpdateFormCollapsed || isConfirmationAlertVisible"
            title="Επεξεργασία"
            (click)="onUpdate(category.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </td>
        <td class="text-center">
          <button
            class="border-0 bg-transparent text-blue"
            [class.text-gray]="!isInsertFormCollapsed || !isUpdateFormCollapsed || isConfirmationAlertVisible"
            [disabled]="!isInsertFormCollapsed || !isUpdateFormCollapsed || isConfirmationAlertVisible"
            title="Διαγραφή"
            (click)="onDelete(category.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    } @empty {
      <tr>
        <td class="text-center" colspan="4">Δε βρέθηκαν κατηγορίες</td>
      </tr>
    }
  </tbody>
</table>
