:root {
  --color-gray: #eceeef;
  --color-blue-1: #d9edf7;
  --color-blue-2: #29a6dd;
  --color-blue-3: #082740;
  --color-blue-4: #061d30;
  --color-gold: rgb(236, 208, 113);
  --color-gold-hover: rgb(207, 174, 67);
  --color-blue-hover: #1883b0;
  --color-gray: rgb(210, 210, 210);
  --color-white: rgb(255, 255, 255);

  /* Changes Bootstrap colors */
  --bs-primary: var(--color-blue-2)!important;
  --bs-primary-rgb: rgb(41, 166, 221)!important;
  --bs-link-color: var(--color-blue-2)!important;
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* 404 Styling */
.line {
  border-bottom: 3px solid var(--color-blue-2);
}

.text-404 {
  font-size: 10rem;
  font-weight: 700;
  color: var(--color-blue-2);
}

@media (min-width: 768px) {
  .text-404 {
    font-size: 15rem;
  }
}

@media (min-width: 992px) {
  .text-404 {
    font-size: 18rem;
  }
}

/* Header Styling */
.header-border {
  border-bottom: 2px solid var(--color-blue-2);
}

/* Navbar Styling */
.navbar {
  --bs-navbar-hover-color: var(--color-blue-2)!important;
}

.nav-item {
  border-bottom: 3px solid transparent;
}

.nav-item.active {
  --bs-nav-link-color: var(--color-blue-2)!important;
  border-color: var(--color-blue-2);
}

.navbar-toggler:focus {
  box-shadow: none!important;
}

/* Dropdown Menu Styling */
.dropdown-menu {
  --bs-dropdown-link-active-bg: var(--color-gold)!important;
  inset: 8px 0px auto auto!important;
}

@media (min-width: 992px) {
  .dropdown-menu {
    inset: 32px 0px auto auto!important;
  }
}

/* Tables Styling */
@media (max-width: 991px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 992px) {
  .mobile-only {
    display: none;
  }
}

/* Forms Styling */
.form-check-input:checked {
  background-color: #000!important;
  border-color: #000!important;
}

/* Mat Icon Favorites */
.favorite {
  font-size: 2rem;
  overflow-x: visible!important;
  overflow-y: visible!important;
}

/* Buttons Styling */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-blue-2)!important;
  --bs-btn-border-color: var(--color-blue-2)!important;
  --bs-btn-hover-color: #000!important;
  --bs-btn-hover-bg: var(--color-gold)!important;
  --bs-btn-hover-border-color: var(--color-gold)!important;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-bg: var(--color-gold)!important;
  --bs-btn-active-border-color: var(--color-gold)!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--color-gray)!important;
  --bs-btn-disabled-border-color: var(--color-gray)!important;
}

.btn-outline-primary {
  --bs-btn-color: var(--color-blue-2)!important;
  --bs-btn-border-color: var(--color-blue-2)!important;
  --bs-btn-hover-color: #000!important;
  --bs-btn-hover-bg: var(--color-gold)!important;
  --bs-btn-hover-border-color: var(--color-gold)!important;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-gold)!important;
  --bs-btn-active-border-color: var(--color-gold)!important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-gray)!important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--color-gray)!important;
  --bs-gradient: none;
}

button.hover-bg-blue-2:hover {
  background-color: var(--color-blue-2);
  border-color: var(--color-blue-2);
}

button.btn-secondary:focus {
  background-color: var(--color-blue-2);
  border-color: var(--color-blue-2);
  outline: transparent;
}

/* Tooltips Styling */
.my-tooltip .tooltip-inner {
  max-width: 350px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--color-blue-2);
  text-align: start;
}

.my-tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--color-blue-2);
}

.my-tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: var(--color-blue-2);
}

.my-tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--color-blue-2);
}

.my-tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--color-blue-2);
}

/* Widths - Heights*/
input.w-40 {
  width: 40px;
}

.w-400 {
  width: 400px;
}

.w-60 {
  width: 60%;
}

.min-height-90 {
  min-height: 90px;
}

.min-height-115 {
  min-height: 115px;
}

.h-100 {
  height: 100px;
}

.h-300 {
  height: 300px;
}

.h-30 {
  height: 30px;
}

.h-40 {
  height: 40px;
}

/* Backgrounds */
.bg-blue-1 {
  background-color: var(--color-blue-1);
}

.bg-blue-2 {
  background-color: var(--color-blue-2);
}

.bg-blue-3 {
  background-color: var(--color-blue-3);
}

.bg-blue-4 {
  background-color: var(--color-blue-4);
}

.bg-gold {
  background-color: var(--color-gold);
}

/* Text */
.text-blue {
  color: var(--color-blue-2);
}

.text-gray {
  color: var(--color-gray);
}

.text-justify {
  text-align: justify;
}

.fs-08 {
  font-size: 0.8rem;
}

.fs-09 {
  font-size: 0.9rem;
}

.fs-11 {
  font-size: 1.1rem;
}

/* Links */
a {
  cursor: pointer;
}

a.hover-blue-2:hover {
  color: var(--color-blue-2)!important;
}
