<!-- Link to Go Back to Activities List -->
<app-link-go-back-to
  [text]="'Δραστηριότητες'"
  [link]="'/activities/list-of-activities'"
>
</app-link-go-back-to>

<h3 class="mt-3 mb-5">Επεξεργασία</h3>

<!-- Alert for confirmation to Delete Activity -->
@if(isConfirmationAlertVisible) {
  <app-alert-delete-confirmation
    [text1]="'διαγράψετε τη δραστηριότητα'"
    [text2]="'uuid'"
    [idToDelete]="activityUuid"
    (onDelete)="proceedToDelete(activityUuid)"
    (onCancelDelete)="cancelDelete()"
  >
  </app-alert-delete-confirmation>
}

<!-- Alert for success/failure of Update/Delete Activity -->
<app-alert-success-failure [status]="status"></app-alert-success-failure>

<!-- Update Activity Form -->
<form [formGroup]="form" class="row">
  <p class="mb-5 fst-italic">Τα πεδία με αστερίσκο (*) είναι υποχρεωτικά</p>

  <!-- control: Id -->
  <div class="col-sm-2 col-lg-1 mb-3" title="Πεδίο μόνο για Προβολή">
    <label class="form-label text-secondary fw-bold">
      Id
    </label>
    <input
      class="form-control"
      type="text"
      formControlName="id"
    />
  </div>

  <!-- control: createdAt -->
  <div class="col-sm-5 col-lg-3 mb-3" title="Πεδίο μόνο για Προβολή">
    <label class="form-label text-secondary fw-bold">
      Δημιουργία
    </label>
    <input
      class="form-control"
      type="text"
      formControlName="createdAt"
    />
  </div>

  <!-- control: updatedAt -->
  <div class="col-sm-5 col-lg-3 mb-3" title="Πεδίο μόνο για Προβολή">
    <label class="form-label text-secondary fw-bold">
      Τελευταία τροποποίηση
    </label>
    <input
      class="form-control"
      type="text"
      formControlName="updatedAt"
    />
  </div>

  <!-- control: uuid -->
  <div class="col-lg-5 mb-3" title="Πεδίο μόνο για Προβολή">
    <label class="form-label text-secondary fw-bold">
      UUID
    </label>
    <input
      class="form-control"
      type="text"
      formControlName="uuid"
    />
  </div>

  <!-- control: title -->
  <div class="min-height-115">
    <label for="title" class="form-label text-secondary fw-bold">
      Τίτλος* <span class="fs-08 fw-normal">(έως 90 χαρακτήρες)</span>
    </label>
    <input
      class="form-control"
      [class.is-invalid]="title?.invalid && (title?.dirty || title?.touched)"
      id="title"
      type="text"
      required
      formControlName="title"
    />
    <!-- Validation error messages -->
    @if (title?.invalid && (title?.dirty || title?.touched)) {
      @for (error of validationErrors; track error) {
        @if (title?.hasError(error.name)) {
          <div class="invalid-feedback d-block">{{ error.message }}</div>
          @if (title?.hasError('maxlength')) {
            <div class="invalid-feedback d-block">Ο τίτλος πρέπει να περιέχει έως 90 χαρακτήρες</div>
          }
        }
      }
    }
  </div>

  <!-- control: dateTime -->
  <div class="col-6 col-lg-3 min-height-115">
    <label for="dateTime" class="form-label text-secondary fw-bold">
      Ημερομηνία και Ώρα*
    </label>
    <input
      class="form-control"
      [class.is-invalid]="dateTime?.invalid && (dateTime?.dirty || dateTime?.touched)"
      id="dateTime"
      type="datetime-local"
      required
      formControlName="dateTime"
    />
    <!-- Validation error messages -->
    @if (dateTime?.invalid && (dateTime?.dirty || dateTime?.touched)) {
      @for (error of validationErrors; track error) {
        @if (dateTime?.hasError(error.name)) {
          <div class="invalid-feedback d-block">{{ error.message }}</div>
        }
      }
    }
  </div>

  <!-- control: price -->
  <div class="col-6 col-lg-3 min-height-115">
    <label for="price" class="form-label text-secondary fw-bold">
      Κόστος*
    </label>
    <input
      class="form-control"
      [class.is-invalid]="price?.invalid && (price?.dirty || price?.touched)"
      id="price"
      type="number"
      min="0"
      step="0.50"
      required
      formControlName="price"
    />
    <!-- Validation error messages -->
    @if (price?.invalid && (price?.dirty || price?.touched)) {
      @for (error of validationErrors; track error) {
        @if (price?.hasError(error.name)) {
          <div class="invalid-feedback d-block">{{ error.message }}</div>
        }
      }
    }
  </div>

  <!-- control: activityStatus -->
  <div class="col-6 col-lg-3 min-height-115">
    <label for="activityStatus" class="form-label text-secondary fw-bold">
      Κατάσταση*
    </label>
    <select
      class="form-select"
      [class.is-invalid]="activityStatus?.invalid && (activityStatus?.dirty || activityStatus?.touched)"
      id="activityStatus"
      required
      formControlName="activityStatus"
    >
      <option value="ACTIVE">Ενεργή</option>
      <option value="COMPLETED">Ολοκληρωμένη</option>
      <option value="CANCELLED">Ακυρωμένη</option>
    </select>
    <!-- Validation error messages -->
    @if (activityStatus?.invalid && (activityStatus?.dirty || activityStatus?.touched)) {
      @for (error of validationErrors; track error) {
        @if (activityStatus?.hasError(error.name)) {
          <div class="invalid-feedback d-block">{{ error.message }}</div>
        }
      }
    }
  </div>

  <!-- control: categoryId -->
  <div class="col-6 col-lg-3 min-height-115">
    <div class="d-flex justify-content-between">
        <label for="categoryId" class="form-label text-secondary fw-bold">
          Κατηγορία*
        </label>
        <a 
          class="text-blue" 
          routerLink="/categories/edit"
        >
          Επεξεργασία
        </a>
      </div>
    <select
      class="form-select"
      id="categoryId"
      required
      formControlName="categoryId"
    >
      <option value="" disabled hidden>-- Επιλέξτε κατηγορία --</option>
      @for (category of categories(); track category.id) {
        <option [value]="category.id">{{ category.name }}</option>
      }
    </select>
  </div>
  
  <!-- control: description  -->
  <div class="mb-5">
    <label for="description" class="form-label text-secondary fw-bold">
      Περιγραφή* <span class="fs-08 fw-normal">(έως 1000 χαρακτήρες)</span>
    </label>
    <textarea 
      class="form-control h-300" 
      [class.is-invalid]="description?.invalid && (description?.dirty || description?.touched)"
      id="description"
      required
      formControlName="description"
    >
    </textarea>
    <!-- Validation error messages -->
    @if (description?.invalid && (description?.dirty || description?.touched)) {
      @for (error of validationErrors; track error) {
        @if (description?.hasError(error.name)) {
          <div class="invalid-feedback d-block">{{ error.message }}</div>
          @if (description?.hasError('maxlength')) {
            <div class="invalid-feedback d-block">Η περιγραφή πρέπει να περιέχει έως 1000 χαρακτήρες</div>
          }
        }
      }
    }
  </div>
</form>

<!-- Buttons -->
<div class="d-flex justify-content-between my-5">
  <div class="d-flex gap-3">
    <button 
      class="btn btn-primary rounded-0" 
      [disabled]="this.form.invalid"
      [disabled]="this.form.disabled" 
      (click)="onSubmit()"
    >
      Αποθήκευση
    </button>
    <button 
      class="btn btn-outline-primary rounded-0" 
      [disabled]="this.form.disabled" 
      (click)="onCancel()"
    >
      Άκυρο
    </button>
  </div>
  <button 
    class="btn btn-outline-danger rounded-0" 
    [disabled]="this.form.disabled" 
    (click)="setToDelete(activityUuid)"
  >
    Διαγραφή Δραστηριότητας
  </button>
</div>
