<footer>
  <div class="bg-blue-3">
    <div class="container">
      <img class="mt-5 mb-3" src="logo-footer.png" alt="Σωματείο Διπλωματούχων Ξεναγών" height="80" width="auto"/>
      <p class="col-11 col-lg-5 pb-3 text-white text-justify lh-lg">
        Το Σωματείο Διπλωματούχων Ξεναγών βοηθά στην εξεύρεση των κατάλληλων ξεναγών, σε γλώσσα και εξειδίκευση, για τα προγράμματα Σχολείων, Εκπαιδευτικών Ιδρυμάτων, Τουριστικών Επιχειρήσεων, Οργανισμών καθώς και μεμονωμένων επισκεπτών.
      </p>
      <div class="pb-5 text-blue">
        <p>E:
          <a class="text-blue text-decoration-none" href="mailto:info@tourist-guides.gr">
            info{{'@tourist-guides.gr'}}
          </a>
        </p>
        <p>T: +30.210-3220090</p>
      </div>
    </div>
  </div>
  
  <div class="h-30 bg-blue-4 d-flex align-items-center justify-content-center">
    <div class="container text-center">
      <span class="text-white fs-09">
        &copy; Copyright 2025, Association of Licensed Tourist Guides
      </span>
    </div>
  </div>
</footer>
