<div class="row justify-content-center">
  <div class="col-11 col-lg-7 my-md-3 p-5 bg-body-tertiary shadow text-center">
    <div class="px-md-3 px-xl-5">
      <app-login-form></app-login-form>
      <p class="mt-4">
        Δεν έχετε λογαριασμό;
      </p>
      <!-- Buttons for registration -->
      <div class="d-flex gap-4 justify-content-center">
        <a class="text-blue" routerLink="/guides/register">Εγγραφή Ξεναγού</a>
        <a class="text-blue" routerLink="/visitors/register">Εγγραφή Επισκέπτη</a>
      </div>
    </div>
  </div>
</div>
